aiohappyeyeballs==2.7.1
aiohttp==3.14.3
aiosignal==1.4.0
annotated-doc==0.0.5
annotated-types==0.8.0
anyio==4.14.2
Appium-Python-Client==6.0.0
APScheduler==3.10.4
attrs==26.1.0
bcrypt==4.0.1
beautifulsoup4==4.15.0
blinker==1.9.0
cachetools==4.2.2
cdriv==1.0.2
certifi==2026.7.22
cffi==2.1.1
cfscrape==2.1.1
chardet==3.0.4
charset-normalizer==3.4.9
click==8.4.2
cloudscraper==1.2.71
colorama==0.4.6
coloredlogs==15.0.1
cryptography==41.0.4
defusedxml==0.7.1
dnspython==2.8.0
ecdsa==0.19.2
fake-useragent==2.2.0
fastapi==0.141.1
filelock==3.32.2
Flask==3.0.0
Flask-Cors==4.0.0
Flask-SQLAlchemy==3.1.1
frozenlist==1.8.0
gdown==6.1.0
googletrans==4.0.0rc1
greenlet==3.5.5
gunicorn==21.2.0
h11==0.16.0
h2==3.2.0
hidapi==0.15.0
hpack==3.0.0
hstspreload==2025.1.1
html5lib==1.1
httpcore==1.0.9
httpx==0.28.1
humanfriendly==10.0
hyperframe==5.2.0
idna==2.10
itsdangerous==2.2.0
Jinja2==3.1.6
loguru==0.7.3
lxml
markdown-it-py==4.2.0
MarkupSafe==3.0.3
mdurl==0.1.2
mfusepy==3.1.1
MouseInfo==0.1.3
mtkclient @ file:///data/data/com.termux/files/home/mtkclient
multidict==6.7.1
ollama==0.6.2
outcome==1.3.0.post0
packaging==26.3
pdfplumber==0.11.10
pillow==12.3.0
proot-distro @ file:///home/builder/.termux-build/proot-distro/src
propcache==0.5.2
PyAutoGUI==0.9.54
pycparser==3.0
pycryptodome==3.23.0
pycryptodomex==3.23.0
pydantic==2.13.4
pydantic_core==2.46.4
PyGetWindow==0.0.9
Pygments==2.21.0
PyMsgBox==2.0.1
pyparsing==3.3.2
PyPDF2==3.0.1
pyperclip==1.11.0
PyRect==0.2.0
PyScreeze==1.0.1
pyserial==3.5
PySocks==1.7.1
pyTelegramBotAPI==4.36.0
pytesseract==0.3.13
python-dateutil==2.9.0.post0
python-dotenv==1.0.0
python-telegram-bot==22.8
python-whois==0.9.6
pytweening==1.2.0
pytz==2026.3.post1
pyusb==1.3.1
rdflib==7.6.0
redis==8.1.0
reportlab==5.0.0
requests==2.31.0
requests-toolbelt==1.0.0
rfc3986==1.5.0
rich==13.9.4
schedule==1.2.2
selenium==4.15.0
setuptools==84.0.0
six==1.17.0
sniffio==1.3.1
sortedcontainers==2.4.0
soupsieve==2.9.2
spotipy==2.26.0
SQLAlchemy==2.0.52
starlette==1.6.0
termcolor==3.3.0
tornado==6.5.8
tqdm==4.70.0
trio==0.33.0
trio-websocket==0.12.2
typing-inspection==0.4.4
typing_extensions==4.16.0
tzdata==2026.3
tzlocal==5.4.4
urllib3==2.7.0
uvicorn==0.52.4
webdriver-manager==4.1.2
webencodings==0.6.1
websocket-client==1.9.0
websockets==17.0.1
Werkzeug==3.1.8
wsproto==1.3.2
xmltodict==1.0.4
yarl==1.24.5
yt-dlp==2026.7.4
